
@{    
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>HeapLine</h2>

@Scripts.Render("~/bundles/echarts")
<script src="~/Scripts/charts/line.js"></script>
<input type="button" id="heapLine" value="查询" />

<div id="charts" style="height:400px"></div>