
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@Scripts.Render("~/bundles/echarts")
@Scripts.Render("~/bundles/zrender")
<script src="~/Scripts/charts/line.js"></script>
<h2>Index</h2>
<input type="button" id="line" value="查询" />

<div id="charts" style="height:400px"></div>