
@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<script type="text/javascript">
    $(function () {
        $.ajax({
            url: "/api/ChartsData/JSFunction",
            type: "GET",
            dataType:"text",
            success: function (data) {                
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert("系统发生错误");
            }
        });
    })
</script>
<h2>Test</h2>



