
@{
    ViewBag.Title = "HeapBar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>HeapBar</h2>

@Scripts.Render("~/bundles/echarts")
@Scripts.Render("~/bundles/zrender")
<script src="~/Scripts/charts/bar.js"></script>

<input type="button" id="heapBar" value="查询" />

<div id="charts" style="height:400px"></div>